# config file must follow kebab-case, and then will be translated in python to be called with snake_case
[energy-hub-optimizer]
flatten-spike-percentage = 0.02
flatten-spike-percentage.type = RealParameter
flatten-spike-percentage.help = the highest part of hourly demand profile that is flattened, to avoid unrealistic sizing. 
    e.g. 0.02 means that the highest 2% of the hourly demand profile is flattened